// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$dark: #424242;
$dark-light: #8F8F8F;
$body-color: #D3CEAA;


body {

	&>header {
		text-align: center;
		border: 1px solid $dark;
		border-radius: 15px;
		line-height: 120px;
		h1>a {
			text-decoration: none;
			font-size: 2.5em;
			font-family: 'IM Fell Great Primer SC', serif;
		}

		h2 {
			line-height: 1em;
		}
	}

	&>nav {

		border-top-left-radius:15px;
		border-top-right-radius:15px;
		padding-left: 0;
		padding-right: 0;
		width: 95%;
		margin: 0 auto;
		margin-top: -1.5em;

		.main-navigation {
			margin-left: 1em;
		}

		.subscription {
			margin-right: 1em;
		}

	}

	#main {
		border: 1px solid $dark;
		border-bottom: 1px solid $dark-light;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
		padding-left: 0;
		padding-right: 0;
		width: 95%;
		margin: 0 auto;
	}

	article {
		padding: 0 !important;
		&>header {
			padding-left: 1em;
			padding-right: 1em;
			background-color: #fff;
			margin-bottom: 0;
			&>.meta {
				padding-top: 1em;
			}
		}

		&>.entry-content {

				padding-top: 1.5em;
			&>p {
				padding-left: 1em;
				padding-right: 1em;
				margin-bottom: 0;
				padding-bottom: 1.5em;
			}	
			background-color: #fff;
		}
		&>footer {
			padding-left: 1em;
			padding-right: 1em;
			margin-top: 0;
			padding-top: 2em;
			background-color: #fff;		
		}
	}

	.top-article {
		padding-top: 1em;
	}

	.code-top {
		height: 30px;
		width: 100%;
		background-color: #fff;
		border-top-left-radius:15px;
		border-top-right-radius:15px;
	}


	.code {

	}


	&>#main {
		background: none !important;
		border: 0;
		&>#content {
			background: none !important;
			border: 0;

		}
	}

	
}