@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


#content>div, #content>article {
	width: auto;
}

#main {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	#content {
		border-right: none;
	}
}

html {
	background-color: #fff;
}

body {
	& > header {
		padding: 0;
		height: $header-height;
		& > hgroup {
			text-align: center;
			height: $title-text-size;
			line-height: $title-text-size;
			& > #title {
				color: $title-color;
				text-decoration: none;
				font-size: $title-text-size * 0.8;
				text-transform:uppercase;
				//text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;
			}
		}
		border-bottom: 1px solid $header-line-color;
	} 
	& > nav {
		background: none;
		border: none;
	}


}

#logoLink {
	display:block;
	width: $logo-circle-radius * 0.9;
	height: $logo-circle-radius * 0.9;
	border-radius: 50%;
	text-decoration: none;
	font-size: 1.5em;
	background-color: $header-bg;
	color: $title-color;
	line-height:$logo-circle-radius;
	text-align:center;
	background: $header-bg;
	border: $logo-circle-radius * 0.1 solid #fff;
	//box-shadow: 1px 0 0 $header-line-color, -1px 0 0 $header-line-color, 0 1px 0 $header-line-color, 0 -1px 0 $header-line-color, 1px 1px $header-line-color, -1px -1px 0 $header-line-color, 1px -1px 0 $header-line-color, -1px 1px 0 $header-line-color;
	
	margin: 0 auto;

	position: relative;
	top: $logo-circle-radius * 0.15;
	$anim-time: 0.5s;
	-webkit-transition: background-color $anim-time;  /* For Safari 3.1 to 6.0 */
	transition: background-color $anim-time;

	&:hover {
		background-color: $header-bg * 1.8;
	}

	z-index: 10;

}